<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>
<body>
    
    <div id = "main">

        <%- include('navbar.ejs') %>
        <%- include('warescontent.ejs') %>
        
</body>

<%- include('footer.ejs') %>
</html>