<header id = "header">
    <nav>
        <div class="container">
            <div class = "navbar">
                <div class= "logo">
                    <a href = "/"><img src ="img\Logo.webp" /></a>
                </div>

                <div class = "threeFourFiveSix">3</div>

                <div class = "seven">
                    <a href = "/teas">TEAS</a>
                </div>
                <div class = "eight">           
                    <a href = "/brewwares">BREW WARES</a>
                </div> 
                <div class = "nine">
                    <a href = "/cart">CART</a>
                </div>
                <div class = "ten">
                    <a href = "/merch">MERCH</a>
                </div>
                <div class = "eleven">
                    <a href = "/aboutus">ABOUT US</a>
                </div>
                <div class = "twelve">
                    <a href = "/wholesale">WHOLESALE</a>
                </div>       
            </div>              
        </div>
    </nav>

    <input type = "checkbox" id = "hamburger-input" class="burger-shower" />
    <label id = "hamburger-menu" for ="hamburger-input">
    <nav id = "sidebar-menu">
        <h3>Menu</h3>
            <ul>
                <li><h3>Shop</h3></li>
                <li><a href = "/teas">Teas</a></li>
                <li><a href = "/merch">Merch</a></li>
                <li><a href = "/brewwares">Brew Wares</a></li>
                <li><h3>Company</h3></li>
                <li><a href = "/aboutus">About Us</a></li>
                <li><a href = "/wholesale">Wholesale</a></li>
                <li><h3>Legal</h3></li>
            </ul>
        </nav>
    </label>

    <div class = "overlay"></div> 
</header>