<nav>
    <div class="container">
        <div class = "navbar">
                <div class = "logo">
                    <div class= "oneTwo">
                    <a href = "index">
                        <img src ="img\Logo.webp" /></a>
                    </div>
                </div>

                <div class = "threeFourFiveSix">3</div>
                <ul>
                    <div class = "seven">
                    <li><a href = "teas">TEAS</a></li>
                    </div>
                    <div class = "eight">           
                    <li><a href = "brewwares">BREW WARES</a></li>
                    </div> 
                    <div class = "nine">
                    <li><a href = "cart">CART</a></li>
                    </div>
                    <div class = "ten">
                    <li><a href = "merch">MERCH</a></li>
                    </div>
                    <div class = "eleven">
                    <li><a href = "aboutus">ABOUT US</a></li>
                    </div>
                    <div class = "twelve">
                    <li><a href = "wholesale">WHOLESALE</a></li>
                    </div>
                </ul>          
        </div>              
    </div>
</nav>