<!--Content for the teas page.-->
<div class = "display2"><!--Second display for teas page-->
    <h1>Teas</h1>
    <p>Swallowtail offers the finest tea,<br> blends and tisanes.</p>
    <div id = "myBtnContainer">
        <!--Buttons for top of page when screen size is too small
        display is currently set to none
        -->
        <button class="filterButton" onclick="filterSelection('all')"><h3>SHOW ALL</h3></button>
        <button class="filterButton" onclick="filterSelection('clear')"><h3>CLEAR</h3></button>
        <button class="filterButton" onclick="filterSelection('oolong')"><h3>OOLONG</h3></button>
        <button class="filterButton" onclick="filterSelection('puerh')"><h3>PU'ERH</h3></button>
        <button class="filterButton" onclick="filterSelection('blends')"><h3>BLENDS</h3></button>
        <button class="filterButton" onclick="filterSelection('red')"><h3>RED</h3></button>
    </div>
</div>

        <div class = "imageCol2"><!--Main display-->
            <div class = "row">
                <div class = "columnUnique"><!--called column unique because it is different to the other column
                                                items in this grid structure in the fact that it has to 
                                                dissapear when screen size gets to small-->
                    <div class = "itemText">
                        <h1>Teas</h1>
                        <p>Swallowtail offers the finest tea, blends and tisanes.</p>
                        <!--Button container first button is set to active so it is always showing all when page loads-->
                        <div id = "myBtnContainer">
                            <button class="filterButton active" onclick="filterSelection('all')"><h3>SHOW ALL</h3></button>
                            <button class="filterButton" onclick="filterSelection('clear')"><h3>CLEAR</h3></button>
                            <button class="filterButton" onclick="filterSelection('oolong')"><h3>OOLONG</h3></button>
                            <button class="filterButton" onclick="filterSelection('puerh')"><h3>PU'ERH</h3></button>
                            <button class="filterButton" onclick="filterSelection('blends')"><h3>BLENDS</h3></button>
                            <button class="filterButton" onclick="filterSelection('red')"><h3>RED</h3></button>
                        </div>
                    </div>
                </div>
                <!--The main items of the page class name filterDiv for use in filter.js
                    and if a button is clicked and matches the second name in the class
                    that item will only show-->
                    <!--
                <div class = "column">                        
                    <div class = "filterDiv black">
                        <div class = "itemText">
                            <h3>Black Tea</h3>
                        </div>
                        <img src="img\Tea\Black.jpeg" alt = "black" style = "width:100%;">
                    </div>
                </div>
                <div class = "column">
                    <div class = "filterDiv oolong">
                        <div class = "itemText">
                            <h3>Oolong</h3>
                        </div>
                        <img src="img\Tea\Oolong.jpeg" alt = "oolong" style = "width:100%;">
                    </div>
                </div> -->
            </div>
            <div class = "row">
                <!--
                <div class = "column">
                    <div class = "filterDiv puerh">
                        <div class = "itemText">
                            <h3>Pu'erh</h3>
                        </div>
                        <img src="img\Tea\Pu'erh.jpeg" alt = "Pu'erh" style = "width:100%;">
                    </div>
                </div>
                <div class = "column">
                    <div class = "filterDiv blends">
                        <div class = "itemText">
                            <h3>Blends</h3>
                        </div>
                        <img src="img\Tea\Blends.jpeg" alt = "blends" style = "width:100%;">
                    </div>
                </div>
                <div class = "column">
                    <div class = "filterDiv red">
                        <div class = "itemText">
                            <h3>Red</h3>
                        </div>
                        <img src="img\Tea\Red.jpeg" alt = "red" style = "width:100%;">
                    </div>
                </div> -->
            </div>               
        </div>
</div>

<!--Implementing filter.js into teas page-->
<script src = "js/filter.js"></script>
<script src = "js/teaImages.js"></script>

