<!DOCTYPE html>
<html lang="en">

    <%- include('head.ejs') %>
    
<body>
    
    <div id = "main">

        <%- include('navbar.ejs') %>
    <div class = "display2">
        <h1>Teas</h1>
        <p>Swallowtail offers the finest tea,<br> blends and tisanes.</p>
        <div id = "myBtnContainer">
            <button class="filterButton" onclick="filterSelection('all')"><h3>SHOW ALL</h3></button>
            <button class="filterButton" onclick="filterSelection('black')"><h3>BLACK</h3></button>
            <button class="filterButton" onclick="filterSelection('oolong')"><h3>OOLONG</h3></button>
            <button class="filterButton" onclick="filterSelection('puerh')"><h3>PU'ERH</h3></button>
            <button class="filterButton" onclick="filterSelection('blends')"><h3>BLENDS</h3></button>
            <button class="filterButton" onclick="filterSelection('red')"><h3>RED</h3></button>
        </div>
    </div>
            <div class = "imageCol2">
                <div class = "row">
                    <div class = "columnUnique">
                        <div class = "itemText">
                            <h1>Teas</h1>
                            <p>Swallowtail offers the finest tea, blends and tisanes.</p>
                            <div id = "myBtnContainer">
                                <button class="filterButton active" onclick="filterSelection('all')"><h3>SHOW ALL</h3></button>
                                <button class="filterButton" onclick="filterSelection('black')"><h3>BLACK</h3></button>
                                <button class="filterButton" onclick="filterSelection('oolong')"><h3>OOLONG</h3></button>
                                <button class="filterButton" onclick="filterSelection('puerh')"><h3>PU'ERH</h3></button>
                                <button class="filterButton" onclick="filterSelection('blends')"><h3>BLENDS</h3></button>
                                <button class="filterButton" onclick="filterSelection('red')"><h3>RED</h3></button>
                            </div>
                        </div>
                    </div>
                    <div class = "column">                        
                        <div class = "filterDiv black">
                            <div class = "itemText">
                                <h3>Black Tea</h3>
                            </div>
                            <img src="img\Tea\Black.jpeg" alt = "black" style = "width:100%;">
                        </div>
                    </div>
                    <div class = "column">
                        <div class = "filterDiv oolong">
                            <div class = "itemText">
                                <h3>Oolong</h3>
                            </div>
                            <img src="img\Tea\Oolong.jpeg" alt = "oolong" style = "width:100%;">
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "column">
                        <div class = "filterDiv puerh">
                            <div class = "itemText">
                                <h3>Pu'erh</h3>
                            </div>
                            <img src="img\Tea\Pu'erh.jpeg" alt = "Pu'erh" style = "width:100%;">
                        </div>
                    </div>
                    <div class = "column">
                        <div class = "filterDiv blends">
                            <div class = "itemText">
                                <h3>Blends</h3>
                            </div>
                            <img src="img\Tea\Blends.jpeg" alt = "blends" style = "width:100%;">
                        </div>
                    </div>
                    <div class = "column">
                        <div class = "filterDiv red">
                            <div class = "itemText">
                                <h3>Red</h3>
                            </div>
                            <img src="img\Tea\Red.jpeg" alt = "red" style = "width:100%;">
                        </div>
                    </div>
                </div>               
            </div>
    </div>

    <script src = "js/filter.js"></script>

</body>
<%- include('footer.ejs') %>
</html>
