<!DOCTYPE html>
<html lang="en">

    <%- include('head.ejs') %>
    
<body>
    
    <div id = "main">

        <%- include('navbar.ejs') %>

            <div class = "imageCol">
                <div class = "colUnique">
                    <h1>Teas</h1>
                </div>
                <div class = "col1">
                    <img src="img\Tea\Black.jpeg" alt = "black" style = "width:100%;">
                    <div class = "itemText">
                        <h3>Black Tea</h3>
                    </div>
                </div>
                <div class = "col1">
                    <img src="img\Tea\Oolong.jpeg" alt = "Oolong" style = "width:100%;">
                    <div class = "itemText">
                        <h3>Oolong</h3>
                    </div>

                </div>
            </div>

    </div>
</body>
<%- include('footer.ejs') %>
</html>