<!--Doc type used to tell web browser what version of html my code is written in --> 

<!DOCTYPE html>
<html lang="en">
    <%- include partials/head.ejs %>

<body>
    <div id ="main">
       <!-- <nav>
            <div class="container">
                <div class = "navbar">
                    <div class = "oneTwo">
                        <img src ="Assets\img\Logo.webp" />
                    </div>
                    <div class = "threeFourFiveSix">3</div>
                    <div href = "htmlFiles/teas.html" class = "seven">TEAS</div>            
                    <div href = "htmlFiles/brewwares.html" class = "eight">BREW WARES</div>      
                    <div href = "htmlFiles/cart.html" class = "nine">CART</div>
                    <div href = "htmlFiles/merch.html" class = "ten">MERCH</div> 
                    <div href = "htmlFiles/aboutus.html" class = "eleven">ABOUT US</div>
                    <div href = "htmlFiles/wholesale.html" class = "twelve">WHOLESALE</div>
                </div>              
            </div> 
        </nav> -->

        <%- include partials/navbar.ejs %>

        <div class = "heading">

            <div class = "heading-words">
                <h1>Steeped In Passion</h1>
            </div>

            <div class = "box-below-heading">
                <h3>FREE SHIPPING ON ORDERS >$40</h3>
            </div>
    </div>

        <div class = "middleImages">
            <img>
            <img>
            <img>
            <img>
            <img>
        </div>

        <div class = "bottomImages">
            <img>
            <img>
            <img>
    </div>   
</body>

<%- include partials/footer.ejs %>

</html>