<!--Doc type used to tell web browser what version of html my code is written in --> 

<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>

<body>
    <div id ="main">

        <%- include('partials/navbar.ejs') %>

        <div class = "heading">

            <div class = "heading-words">
                <h1>Steeped In Passion</h1>
            </div>

            <div class = "box-below-heading">
                <h3>FREE SHIPPING ON ORDERS >$40</h3>
            </div>
    </div>

        <div class = "middleImages">
            <img>
            <img>
            <img>
            <img>
            <img>
        </div>

        <div class = "bottomImages">
            <img>
            <img>
            <img>
    </div>   
</body>

<%- include('partials/footer.ejs') %>

</html>