<!--Doc type used to tell web browser what version of html my code is written in --> 

<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>

<body>
    <div id ="main">
        <div id = "backgroundImage">
            <%- include('partials/navbar.ejs') %>

            <div class = "heading">

                <div class = "heading-words">
                    <h1>Steeped In Passion</h1>
                </div>

                <div class = "box-below-heading">
                    <h3>FREE SHIPPING ON ORDERS >$40</h3>
                </div>
            </div>
        </div>                                                

        <div class = "middleImages">
            <div class = "column">
                <img src = "img\Tea\Black.jpeg" alt = "black" style="width:100%;">
                <p>Black</p>
            </div>
            <div class = "column">
                <img src = "img\Tea\Red.jpeg" alt = "red" style="width:100%;">
                <p>Red</p>
            </div>
            <div class = "column">
                <img src = "img\Tea\Pu'erh.jpeg" alt = "pu'erh" style="width:100%;">
                <p>Pu'erh</p>
            </div>
            <div class = "column">
                <img src = "img\Tea\Oolong.jpeg" alt = "oolong" style="width:100%;">
                <p>Oolong</p>
            </div>
            <div class = "column">
                <img src = "img\Tea\Blends.jpeg" alt = "blends" style="width:100%;">
                <p>Blends</p>
            </div>
        </div>

        <div class = "bottomImages">
            <div class = "col1">
                <a href = "/teas">
                    <img src = "img\Tea\TeaLogo.jpg" alt = "teaLogo" style = "width:100%;">
                    <div class = "teaText">
                        <h1>Teas</h1>
                        <h3>SHOP NOW</h3>
                    </div> 
                </a>
            </div>
            <div class = "col2">
                <a href = "/merch">
                    <img src = "img\Merch\MerchLogo.jpg" alt = "merchLogo" style = "width:100%;">
                    <div class = "merchText">
                        <h1>Merch</h1>
                        <h3>SHOP NOW</h3>
                    </div>
                </a>
            </div>
            <div class = "col3">
                <a href = "/brewwares">
                    <img src = "img\BrewWares\BrewWaresLogo.jpg" alt = "brewWaresLogo" style = "width:100%;">
                    <div class = "brewWaresText">
                        <h1>Wares</h1>
                        <h3>SHOP NOW</h3>
                    </div>
                </a>
            </div>
        </div>

        
    </div>   
</body>

<%- include('partials/footer.ejs') %>

</html>