<!--Doc type used to tell web browser what version of html my code is written in --> 

<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>

<body>
    <div id ="main">
        <div id = "backgroundImage">
            <%- include('partials/navbar.ejs') %>

            <div class = "heading">

                <div class = "heading-words">
                    <h1>Steeped In Passion</h1>
                </div>

                <div class = "box-below-heading">
                    <h3>FREE SHIPPING ON ORDERS >$40</h3>
                </div>
            </div>
        </div>                                                

        <div class = "middleImages">
            <div class = "column">
                <img src = "img\Black.jpeg" alt = "black" style="width:100%">
                <p>Your text</p>
            </div>
            <div class = "column">
                <img src = "img\Red.jpeg" alt = "red" style="width:100%">
                <p>Your text</p>
            </div>
            <div class = "column">
                <img src = "img\Pu'erh.jpeg" alt = "pu'erh" style="width:100%">
                <p>Your text</p>
            </div>
            <div class = "column">
                <img src = "img\Oolong.jpeg" alt = "oolong" style="width:100%">
                <p>Your text</p>
            </div>
            <div class = "column">
                <img src = "img\Blends.jpeg" alt = "blends" style="width:100%">
                <p>Your text</p>
            </div>
        </div>

        <div class = "bottomImages">
            <img>
            <img>
            <img>
    </div>   
</body>

<%- include('partials/footer.ejs') %>

</html>