/* styles the top halve of the footer and sets the display */
.topHalveFooter{
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-auto-rows: 1fr;
}

/* style 1/2 of the top half of the footer */
.oneOfTwo{
    grid-column: 1;
    grid-row: 1;
    float: left;
    width: 100%;
    height: 200px;
    text-align: left;
    padding: 20px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: lightgray;
}

/* style 1/2 of the top part of the footer accordingly */
.twoOfTwo{
    grid-column: 2;
    grid-row: 1;
    float: left;
    width: 100%;
    height: 200px;
    text-align: left;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(55,63,61,.1);
}

/*Styling the bottom half of the footer setting the display to grid */
.bottomHalveFooter{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
    padding: 10px;
}
/*remove bullet points from the list */
.bottomHalveFooter ul{
    list-style-type: none;
}
/* some messy css that i did not get a chance to fix up. Works though */
.a{
    grid-column: 1;
    grid-row: 1;
    padding: 20px;
    text-align: left;
    border-bottom: 2px solid gray;
}

.b{
    grid-column: 2;
    grid-row: 1;
    padding: 20px;
    text-align: left;
    border-bottom: 2px solid gray;
} 

.c{
    grid-column: 3;
    grid-row: 1;
    padding: 20px;
    text-align: left;
    border-bottom: 2px solid gray;
} 

.d{
    grid-column: 4;
    grid-row: 1;
    padding: 20px;
    text-align: left;
    border-bottom: 2px solid gray;
}

.e{
    grid-column: 1;
    grid-row: 2;
    padding: 20px;
    text-align: left;
}

.f{
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
    text-align: left;
}

.g{
    grid-column: 3;
    grid-row: 2;
    padding: 20px;
    text-align: left;
}

.h{
    grid-column: 4;
    grid-row: 2;
    padding: 20px;
    text-align: left;
}

@media screen and (max-width: 1000px){
    .topHalveFooter{
        display: block;
    }
}