/* grid styling for the bottom grid on the home page */
.imageCol{
    color: white;
    height: 650px;
    column-gap: 25px;   
    display: flex;
    padding: 25px;
}

.imageCol img{
    height: 100%;
}
 /*Sets display to flex and position to relative */
.col1{
    flex: 33.33%;
    position: relative;
}

/*Sets text to position absolute and center it does the same for the other two columns */
.col1 .teaText{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;    
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/*Same as above */
.col2{
    flex: 33.33%;
    position: relative;
}

.col2 .merchText{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;    
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*Same as above */
.col3{
    flex: 33.33%;
    position: relative;
}

.col3 .brewWaresText{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;    
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/*Removes boldness from h1 and h3 inside itemText. But keeps size*/
.itemText h1, .itemText h3{
    font-weight: normal;
}


.imageCol a, .imageCol2 a{
    text-decoration: none;
}
/*When bottom images on home page are hovered sets text of h3(SHOP NOW) to underline */
.col1 a:hover h3{
    text-decoration: underline;
}
.col2 a:hover h3{
    text-decoration: underline;
}
.col3 a:hover h3{
    text-decoration: underline;
}

/* the grid used on both the brewwares and teas page */
.imageCol2 .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    gap: 25px;
    padding: 25px;
    grid-column-start: 2;
    width: fit-content;
}

.imageCol2 .column{
    color: black;
    border: 1px solid lightgray;
    display: flex; /*Sets all columns to flex and direction is row */
    flex-direction: row;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.imageCol2 .columnUnique{ 
    color: black;
    border: 1px solid lightgray;
    width: 100%;
    height: 100%;
    display: flex;  
    flex-direction: row;
}
.product_title{
    font-size: 18px;
    color:black;
    text-align:center;
    left: 20px;
    top: 30px;
}
/* Aligns text above items */
.itemText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
}

.itemText p {
    text-align: left;
    font: inherit;
    font-size: 20px;
}

/*Styles the buttons to best match swallowtail tea website */
.filterButton{
    cursor: pointer;
    outline: none;
    padding:20px;
    background-color: white;
    color: black;
    border-radius: 40%;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    justify-content: center;
}

/* Gives an underline on hover and sets the background color of the button when it is active */
.filterButton:hover{
    text-decoration: underline;
}
/*buttons get active class from filter.js when they are clicked */
.filterButton.active{
    background-color: gray;
}
/* if not active then hides */
.hide{
    display: none;
}
/*Sets the second display for when screen size is too small. Display is none until requirements are met */
.display2{
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* queries which adjust the page items accordingly */
@media screen and (max-width: 800px) {
    .imageCol{
        display:grid; /*changes the image column from flex to grid to fit page */
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 400px;
        grid-gap:25px;
        height: 50%;
    }
  }
  @media screen and (max-width: 1000px) {
    .display2{
        display: inline; /* Makes display2 visible*/
    }
    .imageCol2 .columnUnique{
        display: none; /* Removes the unique column sets the display to none */
    }
    .imageCol2 .row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: fit-content;
    }
    .column{
        display: flex;
        width: 100%;
    }
  }
