.imageCol{
    color: white;
    height: 650px;
    column-gap: 25px;   
    display: flex;
    padding: 25px;
}

.imageCol img{
    height: 100%;
}

.col1{
    flex: 33.33%;
    position: relative;
}

.col1 .teaText{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;    
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.col2{
    flex: 33.33%;
    position: relative;
}

.col2 .merchText{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;    
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.col3{
    flex: 33.33%;
    position: relative;
}

.col3 .brewWaresText{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;    
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.itemText h1, .itemText h3{
    font-weight: normal;
}


.imageCol a, .imageCol2 a{
    text-decoration: none;
}

.col1 a:hover h3{
    text-decoration: underline;
}
.col2 a:hover h3{
    text-decoration: underline;
}
.col3 a:hover h3{
    text-decoration: underline;
}

.imageCol2 .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 25px;
}

.imageCol2 .column{
    color: black;
    border: 1px solid lightgray;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.itemText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
}

.itemText p {
    text-align: left;
    font: inherit;
    font-size: 20px;
}

.filterButton{
    cursor: pointer;
    outline: none;
    padding:20px;
    background-color: white;
    color: black;
    border-radius: 40%;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    justify-content: center;
}

.filterButton:hover{
    text-decoration: underline;
}

.filterButton.active{
    background-color: gray;
}

.hide{
    display: none;
}
