<nav>
    <div class="container">
        <div class = "navbar">
            <div href = "index.html" class = "oneTwo">
                <img src ="Assets\img\Logo.webp" />
            </div>
            <div class = "threeFourFiveSix">3</div>
            <div href = "htmlFiles/teas.html" class = "seven">TEAS</div>            
            <div href = "htmlFiles/brewwares.html" class = "eight">BREW WARES</div>      
            <div href = "htmlFiles/cart.html" class = "nine">CART</div>
            <div href = "htmlFiles/merch.html" class = "ten">MERCH</div> 
            <div href = "htmlFiles/aboutus.html" class = "eleven">ABOUT US</div>
            <div href = "htmlFiles/wholesale.html" class = "twelve">WHOLESALE</div>
        </div>              
    </div>
</nav>